# dependencies
node_modules/

# workspace config
.expo/
.expo-shared/

# logs
npm-debug.*
coverage/

# keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# builds
web-build/

# macOS
.DS_Store

# gatsby
.cache/
/site/public/*
!/site/public/static